// estilos para los botones hechos con la etiqueta boton y anchor
.button{
  background-color: $button-background;
  border: solid 3px $boder-white;
  border-radius: 7px;
  box-sizing: border-box;
  font-family: $principal-font;
  font-size: 20px;
  height: 80px;
  width: 200px;

  &:hover{
    background-image: $button-background-image;
    background-size: cover;
  }
}
