// modal para el form
.contact__modal{
  background-color: $modal-background;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 3;

  h2{
    padding: 60px;
    padding-bottom: 30px;
  }
  label{
    font-family: $principal-font;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    width: 800px;
  }
  label, .required{
    display: block;
    margin: 0 auto;
  }
}
// boton del modal del formulario para enviar el mensaje
.contact__modal--button{
  display: block;
  color: $principal-font-color;
  margin: 0 auto;
  margin-top: 60px;
}
// boton del modal del formulario para cerrarlo
.contact__modal--button--ex{
  position: fixed;
  top: 50px;
  right: 50px;
}
//estilos para el mensaje de error
.mensaje--error{
  background-color: $error-background;
  box-sizing: border-box;
  height: 230px;
  margin: 0 auto;
  padding-top: 3px;
  padding-left: 45px;
  text-align: center;

  li, h4{
    font-family: $secondary-font;
    font-size: 25px;
  }
}
//estilos para el mensaje de validacion
.mensaje--valido {
  background-color: $validate-background;
  height: 124px;
  margin: 0 auto;
  padding-top: 3px;
  padding-left: 45px;
  text-align: center;

  h4{
    font-family: $secondary-font;
    font-size: 30px;
  }
}
.required{
  font-family: $secondary-font;
  font-size: 25px;
  height: 50px;
  width: 800px;
}
