//barra de menu
.menu__container{
  background-color: $menu-background;
  border-right: solid 10px $boder-white;
  font-family: $principal-font;
  font-size: 20px;
  height: 1462px;
  letter-spacing: 1px;
  margin: 0;
  position: fixed;
  width: 180px;
  z-index: 2;

  li:first-child {
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 110px;
  }
  li+li{
    margin-bottom: 160px;
    transform: rotate(-90deg);
  }
  .menu__container--anchor{
    height: 39px;
  }
  .menu__container--anchor:hover{
    border-bottom: solid 3px $boder-white;
    box-sizing: border-box;
  }
}
