a{
  color: $principal-font-color;
  text-decoration: none;
}
body{
  margin: 0;

  //estilos de la barra de scroll del menu
  &::-webkit-scrollbar {
    background-color:$scroll-background-color;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $scroll-bar-color;
    border-radius: 10px;
  }
}
html{
  color: $principal-font-color;
}
h1{
  margin: 0;
}
h2{
  font-family: $principal-font;
  font-size: 45px;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
img{
  border-radius: 9px;
}
//para que no de problemas el ul
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
//para los floats
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
.div-main {
  height: 100vh;
  position: sticky;
  top: 0;
}
//tamaños de los wrappers
.subwrapper{
  margin: 0 auto;
  width: 1450px;
}
.wrapper{
  margin-left: 190px;
}

