//zona de informacion personal
.main__about {
  background-color: $fourth-background;

  a{
    display: inline-block;
  }
  canvas {
    background-image: url('.././img/ilustracion.jpg');
	  background-size: cover;
  }
  h2{
    padding-top: 60px;
  }
  h3{
    font-family: $principal-font;
    font-size: 38px;
    letter-spacing: 4px;
    margin: 0;
    text-align: center;
  }
  img{
    display: inline-block;
  }
  p{
    font-family: $secondary-font;
    font-size: 20px;
    margin: 0;
    padding-top: 76px;
    padding-bottom: 66px;
  }
}
.about__container{
  padding-top: 160px;
}
.about__container--button{
  margin-top: 70px;
  text-align: center;
}
.about__container--button--anchor{
  display: inline-block;
  padding-top: 25px;
}
.about__container--float--pic{
  float: right;
}
.about__container--float--text{
  float: left;
  width: 880px;
}
.about__container--logos{
  display: inline-block;
  padding-left: 270px;
}
.about__container--logos--git:hover{
  .git{
    fill: $svg-hover;
  }
}
.about__container--logos--instagram:hover{
  .instagram{
    fill: $svg-hover;
  }
}
.about__container--logos--margin{
  padding-left: 100px;
  padding-right: 100px;
}
.about__container--logos--twitter:hover{
  .twitter{
    fill: $svg-hover;
  }
}
