// estilos generales donde hay patrones de diseños en listas de elementos del main

.main__proyects, .main__exercises{
  a{
    display: inline-block;
    margin-left: 66px;
  }
  h3{
    bottom: -3px;
    font-size: 38px;
    left: -5px;
    position: absolute;
    z-index: 1;
  }
  img{
    display: inline-block;
  }
  li{
    flex-basis: 700px;
    margin-left: 30px;
    position: relative;

    &:hover{
      h3{
        -webkit-background-clip: text;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: $boder-white;
        background-image: url(".././img/colors.gif");
        background-size: cover;
        color: transparent;
      }
    }
  }
  ul{
    align-items: center;
    display: flex;
    height: 500px;
    margin: 0 auto;
    overflow-x: scroll;
    padding-top: 60px;
    width: 1450px;

    &::-webkit-scrollbar {
      background-color: $scroll-background-color;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $scroll-bar-color;
      border-radius: 10px;
    }
  }
}
.main__proyects, .main__exercises, .main__comments{
  h2{
    padding-bottom: 60px;
    padding-top: 60px;
  }
  h3{
    font-family: $principal-font;
    letter-spacing: 4px;
  }
}

